vehicles-api/src/main/resources/price.wsdl

<?xml version="1.0"?>
<definitions name="PricingService"
             targetNamespace="http://localhost/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://localhost/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xs:schema targetNamespace="http://localhost/">
            <xs:element name="getPriceForVehicle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:integer" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="sendPriceForVehicle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Price" type="xs:integer" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="getPriceForVehicleRequest">
        <part name="parameters" element="tns:getPriceForVehicle" />
    </message>
    <message name="getPriceForVehicleResponse">
        <part name="parameters" element="tns:sendPriceForVehicle" />
    </message>

    <portType name="getPrice">
        <operation name="getPriceForVehicle">
            <input name="input" message="tns:getPriceForVehicleRequest" />
            <output name="output" message="tns:getPriceForVehicleResponse" />
        </operation>
    </portType>

    <binding name="getPriceBinding" type="tns:getPrice">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="getPriceForVehicle">
            <input>
                <soap12:body use="literal" />
            </input>
            <output>
                <soap12:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="getVehiclePrice">
        <port name="getPrice" binding="tns:getPriceBinding">
            <soap12:address location="http://localhost:8762/graphql" />
        </port>
    </service>
</definitions>